server/auto.wsdl

<?xml version ='1.0' encoding ='UTF-8'?>
<definitions name='StockQuote'
             targetNamespace='http://example.org/StockQuote'
             xmlns:tns=' http://example.org/StockQuote '
             xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
             xmlns:xsd='http://www.w3.org/2001/XMLSchema'
             xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
             xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
             xmlns='http://schemas.xmlsoap.org/wsdl/'>

    <types>
        <schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="http://soap.loc/server/.xsd">
            <xsd:complexType name="ParamAuto">
                <xsd:sequence>
                    <element name="id">
                        <complexType>
                            <all>
                                <element name="value" type="int"/>
                            </all>
                        </complexType>
                    </element>
                    <element name="brand">
                        <complexType>
                            <all>
                                <element name="value" type="string"/>
                            </all>
                        </complexType>
                    </element>
                    <element name="model">
                        <complexType>
                            <all>
                                <element name="value" type="string"/>
                            </all>
                        </complexType>
                    </element>
                    <element name="year">
                        <complexType>
                            <all>
                                <element name="value" type="int"/>
                            </all>
                        </complexType>
                    </element>
                    <element name="color">
                        <complexType>
                            <all>
                                <element name="value" type="string"/>
                            </all>
                        </complexType>
                    </element>
                    <element name="price">
                        <complexType>
                            <all>
                                <element name="value" type="int"/>
                            </all>
                        </complexType>
                    </element>
                    <element name="max_speed">
                        <complexType>
                            <all>
                                <element name="value" type="int"/>
                            </all>
                        </complexType>
                    </element>
                </xsd:sequence>
            </xsd:complexType>
        </schema>
    </types>

    <message name='allCarsRequest'>
    </message>
    <message name='allCarsResponse'>
        <part name='Result' type='xsd:string'/>
    </message>

    <message name='idCarsRequest'>
        <part name='paramsArr' type='xsd:string'/>
    </message>
    <message name='idCarsResponse'>
        <part name='Result' type='xsd:string'/>
    </message>

    <message name='getSerchRequest'>
        <part name='paramsArr' type='xsd:string'/>
    </message>
    <message name='getSerchResponse'>
        <part name='Result' type='xsd:string'/>
    </message>

    <message name='getOrdersRequest'>
        <part name='paramsArr' type='xsd:string'/>
    </message>
    <message name='getOrdersResponse'>
        <part name='Result' type='xsd:string'/>
    </message>

    <portType name='StockQuotePortType'>
        <operation name='allCars'>
            <input message='tns:allCarsRequest'/>
            <output message='tns:allCarsResponse'/>
        </operation>
        <operation name='idCars'>
            <input message='tns:idCarsRequest'/>
            <output message='tns:idCarsResponse'/>
        </operation>
        <operation name='getSerch'>
            <input message='tns:getSerchRequest'/>
            <output message='tns:getSerchResponse'/>
        </operation>
        <operation name='getOrders'>
            <input message='tns:getOrdersRequest'/>
            <output message='tns:getOrdersResponse'/>
        </operation>
    </portType>

    <binding name='StockQuoteBinding' type='tns:StockQuotePortType'>
        <soap:binding style='rpc'
                      transport='http://schemas.xmlsoap.org/soap/http'/>
        <operation name='allCars'>
            <soap:operation soapAction='urn:xmethods-delayed-quotes#allCars'/>
            <input>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </output>
        </operation>

        <operation name='idCars'>
            <soap:operation soapAction='urn:xmethods-delayed-quotes#idCars'/>
            <input>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </output>
        </operation>

        <operation name='getSerch'>
            <soap:operation soapAction='urn:xmethods-delayed-quotes#getSerch'/>
            <input>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </output>
        </operation>

        <operation name='getOrders'>
            <soap:operation soapAction='urn:xmethods-delayed-quotes#getOrders'/>
            <input>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </input>
            <output>
                <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
                           encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
            </output>
        </operation>


    </binding>

    <service name='StockQuoteService'>
        <port name='StockQuotePort' binding='StockQuoteBinding'>
            <soap:address location='http://soap.loc/server/index.php'/>
        </port>
    </service>
</definitions>

